@charset "UTF-8";

:root{
    --verde:#49a09d;
    --lilas:#5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* CAIXA DE LOGIN */

section#login{
    background-color: white;
    width: 256px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /* Tudo que estiver fora da borda some */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

/* CAIXA DE IMAGEM */

section#login > div#imagem{
    background: var(--lilas) url('../imagens/brigadeiro.jpg') no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
    /* background-position: left bottom; */
}

/* CAIXA DE FORMULÃRIO */

section#login > div#formulario{
    padding: 10px;
    display: block;
}

section#login > div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p{
    font-size: 0.8em;
}


/* LOGIN E SENHA */

form > div.campo{
    background-color: var(--lilas);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

/* ENTRAR */

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2d6462;
    cursor: pointer;
}

/* ESQUECI A SENHA */

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao > i{
    font-size: 0.8em;
    padding-top: 10px;
}