@charset "UTF-8";

:root{
    --verde:#49a09d;
    --lilas:#5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* CAIXA DE LOGIN */

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /* Tudo que estiver fora da borda some */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
}

/* CAIXA DE IMAGEM */

section#login > div#imagem{
    background: var(--lilas) url('../imagens/brigadeiro.jpg') no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
    /* background-position: left bottom; */
}

/* CAIXA DE FORMULÃRIO */

section#login > div#formulario{
    padding: 10px;
    display: block;
}